table, tr, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

th{
  background-color: slategray;
}

tr.colorir{
  background-color: rgb(171, 181, 190);
}   

tr.delete{
  display: none;
}